<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/title_img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/title_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".customerFoodPanel.CustomerForgotPassword"
            android:exported="false" />
        <activity
            android:name=".customerFoodPanel.CustomerPassword"
            android:exported="false" />
        <activity
            android:name=".chefFoodPanel.UpdateDelete_Dish"
            android:exported="false" />
        <activity
            android:name=".chefFoodPanel.chefPostDish"
            android:exported="false" />
        <activity
            android:name=".DeliverySendOtp"
            android:exported="false" />
        <activity
            android:name=".DeliveryForgotPassword"
            android:exported="false" />
        <activity
            android:name=".DeliveryFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".DeliveryVerifyPhone"
            android:exported="false" />
        <activity
            android:name=".SendOtp"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".CustomerFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".VerifyPhone"
            android:exported="false" />
        <activity
            android:name=".ChefSendOtp"
            android:exported="false" />
        <activity
            android:name=".ChefForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ChefFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".ChefVerifyPhone"
            android:exported="false" />
        <activity
            android:name=".DeliveryRegistration"
            android:exported="false" />
        <activity
            android:name=".DeliveryLoginPhone"
            android:exported="false" />
        <activity
            android:name=".DeliveryLogin"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".LoginPhone"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ChefRegistration"
            android:exported="false" />
        <activity
            android:name=".ChefLoginPhone"
            android:exported="false" />
        <activity
            android:name=".ChefLogin"
            android:exported="false" />
        <activity
            android:name=".ChooseOne"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>